.tag{
    border: 1px solid var(--border-color);
    width: fit-content;
    padding: 1px 5px;
    border-radius: 99px;
    font-size: 15px;
    background-color: var(--tag-color);
}

@media (min-width: 1024px) {
    .tag{
        padding:5px 15px;
    }
}