section{
    border-bottom: 1px var(--border-color) solid;
}
.section-inner{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/*cards projets*/
.content{
    display: grid;
    grid-template-columns: 1fr;
}
.content-title{
    text-transform: uppercase;
}
.content-title p{
    color: var(--secondary-color);
}

@media (min-width: 768px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    .content-title{
        grid-column: 1 / -1;
    }
}

@media (min-width: 1024px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}