.projetsection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    background: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    transition: all 0.2s ease;
}
.projetsection:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.projetsection h2{
    color:var(--secondary-color);
}
.projetsection-txt{
    margin: 10px 0;
}