:root{
    --available-color:#1D6A3A;
    --primary-color:#5B5BD6;
    --link-color:white;
    --tag-color:#ff8e3c;
    --tag-txt-color:#2d334a;
    --secondary-color:#5B5BD6;
    --text-color:#2d334a;
    --background-color:#F5F5F5;
    --sec--background-color:white;
    --border-color:#ff8e3c;
    --hover-color:#ff8e3c;
    --btn-theme:#EDF2F7;
}
.dark{
    --available-color: #3CCB73;
    --primary-color: #8787FF;
    --secondary-color: #8787FF;
    --link-color: #1C2533;
    --tag-color: #FF8E3C;
    --tag-txt-color:#1A1A1A;
    --text-color: #EDF2F7;
    --background-color: #131A24;
    --sec--background-color: #1C2533;
    --border-color: #3A3A3A;
    --hover-color: #FF8E3C;
    --btn-theme:#FF8E3C;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

img, video {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font: inherit;
}