:root{
    --available-color:#1D6A3A;
    --primary-color:#5B5BD6;
    --link-color:white;
    --tag-color:#ff8e3c;
    --secondary-color:#5B5BD6;
    --text-color:#2d334a;
    --background-color:#F5F5F5;
    --sec--background-color:white;
    --border-color:#ff8e3c;
    --hover-color:#ff8e3c;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

img, video {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font: inherit;
}