section{
    border-bottom: 1px gray solid;
}
/*cards projets*/
.content{
    display: grid;
    grid-template-columns: 1fr;
}
/*titres des sections*/
.content-title, .technos-title, .about-title{
    text-transform: uppercase;
}
.content-title p, .technos-title p, .about-title p{
    color: #1D9E75;
}
/*scroll des technos*/
.technos{
}
.technos-banner{
    overflow: hidden;
}
.technos-tags{
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
    margin-bottom: 15px;
}
@keyframes scroll {
    from{ transform: translateX(0); }
    to{ transform: translateX(-50%); }
}

/* section à propos*/
.about-main{
    display: flex;
    flex-direction: column;
}
.about-txt{
    border:1px #EF9F27 solid;
    border-radius: 15px;
    text-align: center;
    margin: 10px 0;
}
.name{
    font-weight: bold;
    color: #EF9F27;
}
.forma{
    font-weight: bold;
    color: #1D9E75;
}
.about-txt p{
    margin-bottom: 20px;
}
.about-tag{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    margin-bottom: 10px;
    justify-content: center;
}
@media (min-width: 768px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    .content-title{
        grid-column: 1 / -1;
    }
}

@media (min-width: 1024px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}