.main{
    width: 100%;
}

.main-link{
    border: 1px var(--border-color) solid;
    background-color: var(--link-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding:1px 5px;
    transition: transform 0.2s ease;
}
.main-link:hover{
    transform: translateY(-10px);
    background-color: var(--hover-color);
    color:white;
}

@media (min-width: 768px) {
    .main{
        width: 50%;
    }
}
@media (min-width: 1024px) {
}