section{
    border-bottom: 1px gray solid;
}
/*titres des sections*/
.contact-title{
    text-transform: uppercase;
}
.contact-title p{
    color: #1D9E75;
}
.contact-link{
    display: flex;
    gap: 10px;
}