
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sec--background-color);
}
.a-color{
    color:var(--secondary-color);
}
.h-color{
    color: var(--primary-color);
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Desktop */
@media (min-width: 1024px) {

}