.section-about{
    background-color: var(--sec--background-color);
}
.section-inner{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
/*titres des sections*/
.about-title{
    text-transform: uppercase;
}
.about-title p{
    font-weight: bolder;
    color: var(--secondary-color);
}
/* section à propos*/
.about-main{
    display: flex;
    flex-direction: column;
}

.fort{
    font-weight: bold;
    color: var(--tag-color);
}
.about-tag{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    margin-bottom: 10px;
    justify-content: center;
}
@media (min-width: 768px) {
    .about-main{
        gap: 20px;
    }
    .about-tag{
        width: 25%;
        align-content: center;
    }
}

@media (min-width: 1024px) {
    .about-main{
        gap: 20px;
    }
    .about-tag{
        width: 25%;
        margin-top: 20px;
        gap: 10px;
    }
}