.section-technos{
    background-color: var(--background-color);
}
.section-inner{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
/*titres des sections*/
.technos-title{
    text-transform: uppercase;
}
.technos-title p{
    color: var(--secondary-color);
}
/*scroll des technos*/
.technos-banner{
    overflow: hidden;
}
.technos-tags{
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
    margin-bottom: 15px;
}
@keyframes scroll {
    from{ transform: translateX(0); }
    to{ transform: translateX(-50%); }
}