.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    border:1px var(--border-color) solid ;
    border-radius: 30px;
}